Importing sqlite3 module

In [8]:
import sqlite3 as sq

Establishing connection with the database

In [9]:
connection = sq.connect("Movies_DB.db")

Creating a cursor to handle the queries for the database

In [10]:
cursor = connection.cursor()

Creating a table

In [11]:
cursor.execute("CREATE TABLE IF NOT EXISTS MOVIES( NAME TEXT, ACTOR TEXT, ACTRESS TEXT,DIRECTOR_NAME TEXT, YEAR INTEGER )")

Inserting data to the table

In [12]:
cursor.execute("INSERT INTO MOVIES VALUES('Doctor Strange','Benedict Cumberbatch','Rachel McAdams','Scott Derrickson',2016)")
cursor.execute("INSERT INTO MOVIES VALUES('The Courier','Benedict Cumberbatch','Rachel Brosnahan','Dominic Cooke',2020)")
cursor.execute("INSERT INTO MOVIES VALUES('Tenet','John David Washington','Elizabeth Debicki','Christopher Nolan',2020)")
cursor.execute("INSERT INTO MOVIES VALUES('3 Idiots','Aamir Khan','Kareena Kapoor','Rajkumar Hirani',2009)")
cursor.execute("INSERT INTO MOVIES VALUES('PK','Aamir Khan','Anushka Sharma','Rajkumar Hirani',2014)")

Querying all the movies in the table

In [13]:
all_rows = cursor.execute("SELECT * FROM MOVIES").fetchall()
for i in all_rows:
  title,actor,actress,director,released_year = i
  print(f"{title}\t{actor}\t{actress}\t{director}\t{released_year}")

Doctor Strange	Benedict Cumberbatch	Rachel McAdams	Scott Derrickson	2016
The Courier	Benedict Cumberbatch	Rachel Brosnahan	Dominic Cooke	2020
Tenet	John David Washington	Elizabeth Debicki	Christopher Nolan	2020
3 Idiots	Aamir Khan	Kareena Kapoor	Rajkumar Hirani	2009
PK	Aamir Khan	Anushka Sharma	Rajkumar Hirani	2014

Querying based on the actor's name

In [15]:
actor_rows = cursor.execute("SELECT * FROM MOVIES WHERE ACTOR = 'Benedict Cumberbatch'").fetchall()
for i in actor_rows:
  title,actor,actress,director,released_year = i
  print(f"{title}\t{actor}\t{actress}\t{director}\t{released_year}")

Doctor Strange	Benedict Cumberbatch	Rachel McAdams	Scott Derrickson	2016
The Courier	Benedict Cumberbatch	Rachel Brosnahan	Dominic Cooke	2020